
.navbar-brand {
    font-size: 120%;
    font-family:'Times New Roman', Times, serif;
    color: azure;
    background-color:lightseagreen;
    
}  

.nav-link {
  font-size: 75%;

}

p {
    font-size: 60%;
}

.tablev {
  height: 80%;
  width: 60%;
  background-color: white;
  border-collapse: collapse;
}

table {
  background-color:white; 
  

}

td {
  font-size: 90%;
}

.jumbotron {
    background-color: whitesmoke;
    background-size:cover;
   

}

tr {
  font-size: 90%;
  font-family:'Times New Roman', Times, serif;
}

th {
  color: lightseagreen;
  font-size: 100%;
  font-family:'Times New Roman', Times, serif;
}



/* li {
    display: inline,
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  /* li a:hover {
    background-color: #111;
  } */ 