
.navbar-brand {
    font-size: 120%;
    font-family:'Times New Roman', Times, serif;
    color: white !important;
    background-color:lightseagreen;
    
}  

.nav-link {
  font-size: 75%;

}

p {
    font-size: 60%;
    text-align: justify;
    text-justify: inter-word;
    float-left
    
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.div1 {
  background_color: white;
}


.jumbotron {
    background-color: lightgray;
}


h3 {
  color: lightseagreen;
  font-size: 120%;
  font-family:'Times New Roman', Times, serif;

}



